body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #082032;
  background-image: url('./images/navy-blue-texture.jpg');
}

#logo-container{
  display: flex;
  justify-content: center;
}

#logo {
  font-family: "Geologica";
  color: #ffffff;
  font-size: 50px;
  padding: 10px;
  text-shadow: 10px 10px black;
}

#container-expense {
  color: rgb(250, 169, 169);
  font-weight: bold;

}

#container-income {
  color: rgb(177, 255, 177);
  font-weight: bold;
}

#container-table{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width:800px;
  /* border: 2px solid red; */

}

.table{
  border: 2px solid black;
  /* background-color: #334756; */
  backdrop-filter: blur(10px);
  min-width: 800px;
  box-shadow: 10px 10px black;;

}


.table-head {
  background-color: #2C394B;
  border-radius: 30px;
  color:white;
}

#container-items {
  color: white;
  
}

/* Form adding */
#container-form {
  display: flex;
  justify-content: center;
}

form {
  justify-content: center;
  max-width: 400px;
  flex-wrap: wrap;
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
  gap: 10px;
  padding: 20px;
  background-color: #334756;
  color: white;
  box-shadow: 10px 10px black;
  
}

#btn-submit {
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color:#334756;
  margin: 30px;
  min-width: 100px;
  min-height: 50px;
  box-shadow: 10px 10px black;
}

#container-total {
  display: flex;
  max-width: 600px;
  justify-content: end;
  margin-left: auto;
}

#total{
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  max-width: 300px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: #334756;
  box-shadow: 10px 10px black;
}

button{
  cursor: pointer;
}

.income-text {
  color: rgb(177, 255, 177);
}
.expense-text {
  color: rgb(250, 169, 169);
}